.story-viewer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.story-container {
  position: relative;
  width: 80%;
  max-width: 350px;
  height: auto;
  max-height: 70%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.story-header {
  padding: 10px;
  z-index: 10;
  width: 100%;
}

.progress-container {
  display: flex;
  width: 100%;
  padding: 10px;
}

.progress-bar {
  flex: 1;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 0 2px;
}

.progress-fill {
  height: 100%;
  background-color: white;
  transition: width 0.1s linear;
}

.user-info {
  display: flex;
  align-items: center;
  color: white;
}

.user-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.username {
  font-weight: bold;
}

.story-image {
  object-fit: contain;
  width: 100%;
  height: auto;
  max-height: 70%;
}

.story-controls {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.story-control {
  flex: 1;
  height: 100%;
}

.menu-button{
  background-color: black;
  color: #fff;
}

.nav-button{
    background-color: #444;
    border: none;
    color: #000;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    pointer-events: auto;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 1px;
  font-size: 24px;
  width: 50%;
  cursor: pointer;
  background: none;
  border: none;
  color: #333;
}

.story-nav-button {
  background-color: #444;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  pointer-events: auto;
  transition: background-color 0.3s, transform 0.3s;
}

.story-nav-button:hover {
  background-color: #666;
  transform: scale(1.1);
}

.story-nav-button.left {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.story-nav-button.right {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.story-nav-buttons {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}
