/* SearchModal.css

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 60%; /* Adjust width to your preference */
  /* max-height: 80%;
  overflow-y: auto;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 25px;
  padding: 10px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 1em;
  margin-left: 10px;
}

.search-icon {
  color: #aaa;
  font-size: 1.5em;
  margin-right: 10px;
}

.close-button {
  background: none;
  border: none;
  outline: none;
  color: #aaa;
  font-size: 1.5em;
  cursor: pointer;
}

.search-results {
  margin-top: 20px;
}

.search-result {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.search-result-profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.search-result-info {
  display: flex;
  flex-direction: column;
}

.search-result-name {
  font-weight: bold;
  color: #000;
}

.search-result-role {
  color: #555;
}

.search-result-company {
  color: #888;
} */ */
