/* src/Home Page/Home.css */

.home-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .header {
    background-color: #0073b1;
    color: #fff;
    padding: 10px;
    text-align: center;
  }

  .content {
    display: flex;
    flex: 1;
  }

  .sidebar, .right-sidebar {
    width: 20%;
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
  }

  .main-content {
    flex: 1;
    background-color: #e1e1e1;
    padding: 20px;
    text-align: center;
  }
