body.congratulations-body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.congratulations-container {
    text-align: center;
    background: #1e1e1e;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1s ease-in-out;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

.congratulations-container h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #ff6600;
}

.congratulations-container p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.congratulations-container .social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.congratulations-container .icon {
    font-size: 2em;
    color: #fff;
    transition: color 0.3s;
}

.congratulations-container .icon.instagram:hover {
    color: #e1306c;
}

.congratulations-container .icon.facebook:hover {
    color: #3b5998;
}

.congratulations-container .home-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6600;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.congratulations-container .home-button:hover {
    background-color: #f38269;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
